.category
{
	border:1px solid;
	height:500px;
}
.result
{
	border:1px solid;
	height:1000px;
}
.entry
{
	height:150px;
}
.page-menu
{	
	vertical-align: bottom;
	margin-top: auto;
	margin-bottom: 0px;
	width:250px;
	margin-left: auto;
	margin-right: auto;
}
.map 
{
	height:300px;
	width:100%;
	border:1px solid;
}